*{
    font-family:Montserrat;
    box-sizing: border-box;
}
body{
    margin:0;
    padding:0;
    background-color:#F8F8F8;
}

header{
    display:flex;
    position:fixed;
    justify-content:center;
    height:70px;
    background-color:#00A85B;
    width:100%;
    top:0;
    left:0;
}
.container{
    width:1024px;
    max-width:1440px;
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.tag_name{
    display:flex;
    align-items:center;
    padding:10px;
    border-radius:10px;
    color:#333333;
    font-weight: bolder;
}

.tag_name img {
    max-width: 70px;
    max-height: 70px;
    margin-right:10px;
}
.menu{
    margin-right:50px;
}
nav ul{
    display:flex;
    list-style: none;
    padding:0px;
    color:#333333;
    font-weight:600;
}

nav li {
    display:inline-block;
    cursor:pointer;
    margin-left:30px;
}

nav ul li::after{
    display:block;
    content:"";
    border-bottom:solid 2px #DECE0D;
    transition: transform .3s ease;
    transform: scaleX(0);
}

nav ul li:hover::after{
    transform: scaleX(1);
}

.legend{
    margin-top:20px;
    background-color:#ddd;
    padding:5px;
}

.banner{
    display:flex;
    justify-content:center;
    margin-top:85px;
}

.banner img{
    max-width: 1080px;
    max-width:500px;
}

.flex{
    display:flex;
    justify-content: center;
}

.flex_row{
    display:flex;
    flex-direction:column;
    justify-content: center;
}
.gadget{
    display:flex;
    justify-content:space-between;
    width:1024px;
    margin-top:50px;
}

.left_side{
    flex:1;
}

.left_side img{
    max-width:400px;
}
.right_side{
    flex:1;
    text-align:center;
}
.text_title{
    font-size:22px;
    color:#DECE0D;
}

.align_title_bar{
    display:flex;
    justify-content:center;
}
.title_bar{
    width:100px;
    height:2px;
    background-color:#00A85B;
    margin-top:5px;
}
.text_description{
    margin-top:20px;
    text-align:justify;
    font-size:14px;
}

form{
    margin-top:50px;
}

.form_area{
    display:flex;
}

input, textarea{
    padding:10px;
    border-radius:5px;
    border:none;
    outline:none;
    margin:5px;
    color:#333;
    font-size:17px;
}

input:not(.cellphone){
    width:500px;
}

textarea{
    width:800px;
    height:300px;
    resize:none;
}

/*-------------------Contact---------------*/
.contact_title{
    font-size:30px;
    color:#DECE0D;
    font-weight:bolder;
}

/* -------------------Footer------------------- */

.footer{
    display:flex;
    justify-content:center;
}

.footer_area{
    width:1024px;
    max-width: 1440px;
}

.footer_copy{
    margin-top: 30px;
    border-top:2px solid #ddd;
    color:#333333;
    padding:10px;
}
